---
import heroBg from "../../assets/images/page-header-bg-1-1-1.jpg";
import circleBgImg from "../../assets/images/main-slider-t-1-1.png";
---

<section class="page-hero">
	<div class="page-hero-bg" style={`--hero-bg: url(${heroBg});`}></div>
	<div class="container-fluid page-hero-container">
		<div class="page-hero-bread-crump mb-[25px] md:mb-[23px]" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
			<p class="text-white uppercase m-0 md:text-[18px] text-[16px]" style="letter-spacing: .2em;">
				<i class="fa fa-chart-pie mr-[8px] text-[30px] relative top-[5px] text-custom-orange"></i>
				Easy & Secure Trading
			</p>
		</div>

		<div class="" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
			<h2 class="mb-[24px] leading-[1.2em] font-extrabold m-0 text-white lg:text-[70px] text-[45px] w-full md:max-w-[700px]">
				Unlock your financial potential with our cutting-edge <span style={`--circle-bg: url(${circleBgImg});`} class="target-text"></span>
			</h2>
			<p class="md:text-[18px] text-[16px] md:max-w-[700px] md:mb-[40px] mb-[30px] text-[rgba(255,247,247,0.81)]">
				Stay on top of the market with our innovative technology, extensive product access, personalized education, and award-winning service.
			</p>
		</div>
		<a
			href="https://dashboard.timelineinvestment.space/sign-in.php"
			id=""
			class="text-white bg-custom-orange leading-[1.1] text-center p-[23px_40px] text-[15px] inline-block">Get Started Now</a
		>
	</div>
	<!-- <div class="absolute h-full w-full top-0 left-0" style="background-image: linear-gradient(0deg,#1c1c27 0%,rgba(28,28,39,0) 100%);"></div> -->
</section>
<style>
	/*  */
	.page-hero {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		position: relative;
		background-color: theme(colors.custom-dark-primary);
	}
	.page-hero .page-hero-bg {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: var(--hero-bg);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.page-hero .page-hero-container {
		position: relative;
		z-index: 10;
		padding-top: 125px;
		padding-bottom: 125px;
		width: 100%;
	}
	/* .page-hero .page-hero-container > h2 {
		margin: 0;
		line-height: 1;
		color: #fff;
		font-size: 45px;
		word-wrap: break-word;
		font-weight: 700;
	} */
	.page-hero-bread-crump {
		display: flex;
		flex-wrap: wrap;
	}
	.page-hero-bread-crump > span[typeof="ListItem"] {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		line-height: 1;
		display: flex;
		align-items: center;
	}
	.page-hero-bread-crump > span[typeof="ListItem"] a {
		transition: all 0.5s ease;
		color: #98989c;
	}
	.page-hero-bread-crump > span[typeof="ListItem"] a > span {
		color: inherit;
		margin: 0 10px;
	}
	.page-hero-bread-crump > span[typeof="ListItem"] span.current-item {
		display: block;
		margin-left: 10px;
		line-height: 1;
		color: theme(colors.custom-orange);
	}
	span.target-text {
		position: relative;
		display: inline-block;
		/* overflow: hidden; */
		color: transparent;
		text-transform: lowercase;
		/* -webkit-text-stroke: 0.1vw #fff; */
	}
	/* span.target-text::before {
		content: "";
		background-image: var(--circle-bg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		position: absolute;
		top: 5px;
		left: -4px;
		width: 100%;
		height: 100%;
		z-index: -1;
		animation: zoom-fade 5s linear 0s infinite;
	} */
	span.target-text::after {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		overflow: hidden;
		color: white;
		-webkit-text-stroke: 0vw red;
		/* display: contents; */
		/* background-color: #010718; */
		border-right: 2px solid #fff;
		animation: animate 4s steps(12) infinite;
	}
	/*  */
	@media (max-width: 480px) {
		.page-hero .page-hero-container {
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}
	@keyframes animate {
		40%,
		60% {
			width: 100%;
		}
		100% {
			width: 0%;
		}
	}
	@keyframes zoom-fade {
		0% {
			transform: scale(0.9);
		}

		50% {
			transform: scale(1);
		}

		100% {
			transform: scale(0.9);
		}
	}
</style>

<script>
	import AOS from "aos";
	// @ts-ignore
	window.AOS = AOS;
	AOS.init({
		once: true,
		disableMutationObserver: true,
	});
	const text = document.querySelector(".target-text");
	const textLoad = () => {
		setTimeout(() => {
			text.textContent = "tools";
			text.dataset.text = "tools";
		}, 0);
		setTimeout(() => {
			text.textContent = "resources";
			text.dataset.text = "resources";
		}, 4000);
		setTimeout(() => {
			text.textContent = "instruments";
			text.dataset.text = "instruments";
		}, 8000);
	};
	textLoad();
	setInterval(textLoad, 12000);
</script>
