---
import PageHero from "../components/Hero/PageHero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us">
	<PageHero title="Contact us" />
	<section class="contact-section">
		<div class="contact-section-container container-fluid">
			<!-- 1 -->
			<div class="lg:p-[0_15px] p-[0] contact-left contact-section-column w-full lg:w-[33.33333%]">
				<div class="contact-left-wrap">
					<div class="mb-[50px] block contact-heading">
						<p
							class="uppercase text-custom-orange text-[14px] font-medium m-0 leading-[1.1] tracking-[.2em] relative top-[-1px] after:content-['||'] after:relative after:mr-[6px] after:text-[10px] after:top-[-1px] before:content-['||'] before:relative before:ml-[6px] before:text-[10px] before:top-[-1px]"
						>
							Contact
						</p>
						<h2 class="">Feel free to get in touch</h2>
					</div>
					<p class="text-text-color m-0 leading-[1.875]">
						Timeline-Invetment platform meets the highest data security standards on the web. Our security experts have gone to great lengths to
						provide a secure online virtual trading room.
					</p>
					<div class="contact-left-icons">
						<a href="#">
							<i class="fab fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#">
							<i class="fab fa-pinterest"></i>
						</a>
						<a href="#">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
			<!-- 2 -->
			<!-- <div class="contact-right contact-section-column w-full lg:w-[66.667%]">
				<div class="flex w-full">
					</div> -->
		</div>
	</section>
	<section class="contaner-fluid flex flex-wrap w-full">
		<!--  -->
		<div class="w-full lg:w-[33.333%] relative flex min-h-[1px]">
			<div class="item-col-right">
				<div class="wrap">
					<div class="inner mb-[20px]">
						<div class="content-icon flex mr-[20px] mb-0">
							<i class="icon icon-telephone"></i>
						</div>
						<div class="content">
							<p class="content-text text-[14px] text-text-color m-0 leading-[1.7em] text-left">Have any question?</p>
							<a
								href="tel:+1 (531) 333-2212"
								class="content-link text-[18px] font-semibold inline-block text-custom-dark-primary leading-[1.7em]"
								style="transition: all .5s ease;">+1 (531) 607-9194</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  -->
		<div class="w-full lg:w-[33.333%] relative flex min-h-[1px]">
			<div class="item-col-right">
				<div class="wrap">
					<div class="inner mb-[20px]">
						<div class="content-icon flex mr-[19px] mb-0">
							<i class="icon icon-email"></i>
						</div>
						<div class="content">
							<p class="content-text text-[14px] text-text-color m-0 leading-[1.7em] text-left">Write us email</p>
							<a
								href="mailto:support@mail.binharvest.com"
								class="content-link text-[18px] font-semibold inline-block text-custom-dark-primary leading-[1.7em]"
								style="transition: all .5s ease;">support@mail.timelineinvestment.space</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  -->
		<div class="w-full lg:w-[33.333%] relative flex min-h-[1px]">
			<div class="item-col-right">
				<div class="wrap">
					<div class="inner mb-[20px]">
						<div class="content-icon flex mr-[20px] mb-0">
							<i class="icon icon-pin"></i>
						</div>
						<div class="content">
							<p class="content-text text-[14px] text-text-color m-0 leading-[1.7em] text-left">Visit anytime</p>
							<a
								href="#"
								class="content-link text-[18px] font-semibold inline-block text-custom-dark-primary leading-[1.7em]"
								style="transition: all .5s ease;">88 Road Miami Florida</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	.item-col-right {
		padding: 0 15px;
		display: flex;
		position: relative;
		width: 100%;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.item-col-right .wrap {
		width: 100%;
		position: relative;
		transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform 0.4s;
	}
	.item-col-right .wrap .inner {
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	.item-col-right .wrap .inner .content-icon {
		width: 62px;
		height: 62px;
		color: #fff;
		font-size: 18px;
		transition: all 0.5s ease;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		/* margin-right: 20px; */
		background-color: theme(colors.custom-orange);
	}
	/*  */
	@media (min-width: 992px) {
		.item-col-right .wrap .inner {
			text-align: left;
			justify-content: flex-start;
			padding-top: 60px;
			padding-bottom: 60px;
		}
		/* .item-col-right .wrap .inner .content-icon {
			margin-right: 20px;
			margin-bottom: 0;
		} */
	}
	@media (min-width: 768px) {
		.item-col-right .wrap .inner {
			justify-content: center;
			text-align: center;
		}
		/* .item-col-right .wrap .inner .content-icon {
			margin-right: 0;
			margin-bottom: 20px;
		} */
	}
	/*  */
	.contact-heading h2 {
		margin: 0;
		font-weight: 700;
		font-size: 35px;
		line-height: 1.2em;
		color: #1c1c27;
		position: relative;
		bottom: -10px;
		margin-bottom: 50px;
	}
	/*  */
	.contact-section-container {
		display: flex;
	}
	.contact-section {
		padding: 120px 0;
		position: relative;
		padding-bottom: 30px;
	}
	.contact-section .contact-section-container .contact-section-column {
		position: relative;
		min-height: 1px;
		display: flex;
		/* padding: 0 15px; */
	}
	/*  */
	.contact-left-icons {
		display: flex;
		margin-top: 30px;
		align-items: center;
		gap: 12px;
	}
	.contact-left-icons a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 41px;
		height: 41px;
		color: theme(colors.custom-dark-secondary);
		font-size: 12px;
		transition: all 0.5s ease;
		border-radius: 50%;
		background-color: #fff;
	}
	.contact-left-icons a:hover {
		color: white;
		background-color: theme(colors.custom-orange);
	}
	@media (min-width: 768px) {
		.contact-heading h2 {
			font-size: 40px;
		}
	}
	@media (min-width: 992px) {
		.contact-heading h2 {
			font-size: 45px;
		}
	}
</style>
